[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
djoser = "*"
mysqlclient = "*"
reportlab = "*"
drf-nested-routers = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
flower = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.11"
